<div class="container">
  {{>pill-list}}

  <p data-target="modal1" class="btn-floating btn-large waves-effect waves-light blue darken-4 right modal-trigger"
    id="btn-add">
    <i class="material-icons">add</i>
  </p>
  {{>add-form}}
</div>